<?xml version="1.0" encoding="utf-8"?>
<!--
For more information on how to configure your ASP.NET application, please visit
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="EarthwatchersConnection" connectionString="Server=.;Database=Earthwatchers;Trusted_Connection=yes;" />
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="http://guardianes.azurewebsites.net/" />
    <add key="Basecamp" value="Argentina" />
    <add key="smtp.enabled" value="true"></add>
    <add key="smtp.host" value="smtp.greenpeace.org.ar"></add>
    <add key="smtp.port" value="587"></add>
    <add key="smtp.user" value="webmaster@guardianes.greenpeace.org.ar"></add>
    <add key="smtp.password" value="EUw7bUUtQH"></add> <!--OBSOLETA, La cambiaron-->
    <!--<add key="smtp.password" value="k2mFCLfq"></add>-->
    <add key="smtp.enableSSL" value="false"></add>
    <add key="smtp.overridetoaddress" value="paitobernardo@gmail.com" /> 
    <add key="smtp.appendbccaddress" value="" />
    <add key="smtp.interval" value="2000"></add>
    <add key="backend.pagination.pagesize" value="500" />
    <add key="kml.fincas.path" value="D:\dev\iantech\Development\Greenpeace\Guardianes\Earthwatchers.Services\fincas\toProcess" />
    <add key="kml.fincas.archive.path" value="D:\dev\iantech\Development\Greenpeace\Guardianes\Earthwatchers.Services\fincas\archive" />
    <add key="Hexagons.HideByZoom" value="true" />  
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--<sessionState cookieless="UseCookies" />
    <authentication mode="Forms">
      <forms loginUrl="~/index.html" timeout="2880" cookieless="UseCookies" />
    </authentication>-->
    <customErrors mode="Off" />
    <globalization culture="es-AR" uiCulture="es-AR" />
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <httpCompression>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/xml" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
    <tracing>
      <traceFailedRequests>
        <remove path="*" />
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose" />
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose" />
            <add provider="ISAPI Extension" verbosity="Verbose" />
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI" verbosity="Verbose" />
          </traceAreas>
          <failureDefinitions timeTaken="00:00:08" statusCodes="200-999" />
        </add>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
    <location path="admin">
    </location>
</configuration>